# The name of your package
Name: {{ data.name }}

# A short summary of your package
Summary: {{ data.summary }}

# The version of your package
Version: {{ git.version }}

# The release number of your package
Release: {% if git.release %}{{ git.release }}{% else %}1{% endif %}

# Any license you wish to list
License: {% if data.license %}{{ data.license }}{% else %}Unknown{% endif %}

# What group this RPM would typically reside in
Group: {% if data.group %}{{ data.group }}{% else %}Applications/System{% endif %}

# Who packaged this RPM
Packager: {{ data.ownerString }}

# The build architecture of this RPM (noarch/x86_64/i386/etc)
Buildarch: {{ data.architecture }}

# You generally should not need to mess with this setting
Buildroot: {% if options.buildroot %}{{ options.buildroot }}{% else %}%{_tmppath}/%{name}{% endif %}

# Change this extension to change the compression level in your RPM
#  tar / tar.gz / tar.bz2
Source0: %{name}.{{ data.compression }}

# If this package has prerequisites, uncomment this line and
#  list them here - examples are already listed
#Requires: bash, python >= 2.7
{% for require in options.requires %}
{{ require }}
{% endfor %}

# If you are having trouble building a package and need to disable
#  automatic dependency/provides checking, uncomment this:
{% if data.autodepcheck %}# {% endif %}AutoReqProv: no

# A more verbose description of your package
%description
{% if data.description %}{{ data.description }}{% else %}None{% endif %}

# You probably do not need to change this
%define debug_package %{nil}

%prep
{% if options.prep|length == 0 %}
%setup -q -c
{% else %}
{% for p in options.prep %}
{{ p }}
{% endfor %}
{% endif %}

%build
{% for b in options.build %}
{{ b }}
{% endfor %}

%install
{% if options.install|length == 0 %}
rsync -a . %{buildroot}/
{% else %}
{% for i in options.install %}
{{ i }}
{% endfor %}
{% endif %}


%clean
{% if clean|length == 0 %}
rm -rf %{buildroot}
{% else %}
{% for c in options.clean %}
{{ c }}
{% endfor %}
{% endif %}

%pre
{% for p in options.pre %}
{{ p }}
{% endfor %}

%post
{% for p in options.post %}
{{ p }}
{% endfor %}

%preun
{% for p in options.preun %}
{{ p }}
{% endfor %}

%postun
{% for p in options.postun %}
{{ p }}
{% endfor %}

{% if options.trigger|length == 0 %}#{% endif %}%trigger
{% for t in options.trigger %}
{{ t }}
{% endfor %}

{% if options.triggerin|length == 0 %}#{% endif %}%triggerin
{% for t in options.triggerin %}
{{ t }}
{% endfor %}

{% if options.triggerin|length == 0 %}#{% endif %}%triggerun
{% for t in options.triggerun %}
{{ t }}
{% endfor %}

%changelog
{% for entry in git.log %}
* {{ entry.date }} {{ entry.owner }}
- {{ entry.message }}
{% endfor %}

%files
{% for fileTree %}
%attr({{ permissions }}, {{ owner }}, {{ group }}) {% if directory %}%dir {% endif %}"{{ file }}"
{% endfor %}
